body {
    word-wrap: break-word;
}

#submitNewFileForm form {
    text-align: center;
    margin-top: 30px;
}

#submitNewFileForm button {
    margin-top: 30px;
    font-size: 1.7em;
}

#quickStats {
    margin-bottom: 10px;
    margin-top: 70px;
}


.latestUpdateInfo i {
    margin-right: 10px;
}

.latestUpdateInfo p {
    word-break: break-all;
    font-size: 1.4em;
}

.latestUpdateInfo a {
    text-decoration: none;
    color: white;
}

.latestUpdateInfo h2 {
    margin-bottom: 30px;
}

#getVerification {
    margin-top: 20px;
}

#verifyInputDiv {
    text-align: center;
} 
#verifyInputDiv button {
    font-size: 1.7em;
    margin-top: 10px;
}

#verifyResut {
    display: none;
    padding: 25px;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    font-weight: bold;
}

#getCertificate {
    margin-top: 20px;
}

#newOpReturnAlerter {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 30px;
    display: none;
}

#allFiles {
    margin-top: 20px;
}
